# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Models & Data
models/
data/raw/
data/vector_db/
data/processed/
tests/

# Benchmark - only track COLIEE
benchmark/*
!benchmark/COLIEE/

*.gguf

*.txt
!requirements.txt

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Environment
.env
*.log
